@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <p>Welcome to CodeProgramming, a website dedicated to helping you learn, practice, and improve your programming skills. Whether you're a beginner looking to get started or an experienced developer seeking to enhance your knowledge, we've got you covered.</p>

    <p>Our platform offers a wide range of programming resources, tutorials, and articles on various programming languages, algorithms, data structures, and more. You can explore our content, solve coding challenges, and gain valuable insights into the world of coding.</p>

    <p>At CodeProgramming, we are passionate about providing high-quality educational content for programmers of all levels. Our team of experienced developers and educators works tirelessly to ensure that you have access to the latest and most relevant programming knowledge.</p>

    <p>Our mission is to make learning and mastering programming accessible to everyone. We believe that coding is a valuable skill that can open doors to exciting career opportunities and creative problem-solving. We're here to support your journey.</p>

    <p>If you have any questions, feedback, or collaboration inquiries, please feel free to <a href="@Url.Action("Contact", "Home")">contact us</a>. We'd love to hear from you and continue improving our platform to serve the programming community.</p>
</main>