@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Tianjin<br />
        HEBUT<br />
        <abbr title="Phone">P:</abbr>
        +86 15931534568
    </address>

    <address>
        <strong>Junyu Qi:</strong>   <a href="2094463406@qq.com">2094463406@qq.com</a><br />
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</main>